body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: #000000;  /* fallback for old browsers */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    overflow-x: hidden; /* Запретить горизонтальную прокрутку */
    
}

.saveLinks {
    position: flex;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(to right, #2600ff, #007bff, #1eff00, #f0b3b3, #ede1e1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: animateColor 4s linear infinite alternate-reverse;
}

@keyframes animateColor {
    0% {
        color: #ff2b2b;
    }
    25% {
        color: #00000000;
    }
    50% {
        color: #ff00e600;
    }
    75% {
        color: #ff0000;
    }
    100% {
        color: #00000000;
    }
}





.container {
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    margin-top: 50px;
    justify-content: center;
    position: flex;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 50%; /* Увеличить ширину для мобильных устройств */
}

input[type="url"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #00fc11;
    border-radius: 25px;
    background-color: #000000;
    color: #0dff00;
}

button {
    padding: 10px;
    background-color: #00ff3c;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    width: 100%;
    border-color: #0dff00;
    border-width: 1px;
    border-style: solid;
}

button:hover {
    background-color: #000000;
    transition: all 0.3s ease-in-out;
    color: #2fff00;
    border-color: #0dff00;
    border-width: 1px;
    border-style: solid;
}

#linkList {
    display: flex;
    margin-left: 25%;
    flex-direction: column;
    width: 50%;
    margin-top: 10%; /* Добавьте верхний отступ */
    min-width: 500px;
    max-height: 300px;
    /* background-color: #1eff00; */
}

.linkItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; /* Уменьшите отступ для мобильных устройств */
    position: relative;
    background-color: #00000024;
    padding: 2rem; /* Уменьшите padding для мобильных устройств */
    border-color: #0dff00;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    
    
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.linkItem:hover {
    box-shadow: 0 0 15px 5px #0dff009e;
    transition: all 0.4s ease-in-out;
}

.linkItem img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 25px;
    position: relative;
}

.linkItem a {
    color: #3cff00;
    text-decoration: none;
    font-size: 1.5rem; /* Уменьшите размер шрифта для мобильных устройств */
    margin-bottom: 0.5rem;
}

.linkItem a:hover {
    text-decoration: underline;
}

.linkItem p {
    margin: 0;
}

.delete-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border-color: #0dff00;
    border-width: 1px;
    border-style: solid;
    background-color: #000000;
    color: rgb(24, 241, 0);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn:hover {
    background-color: #db0000;
    border-color: #ff0000;
    box-shadow: 0 0 7px 2px #ff0000;
    scale: 1.2;
    color: rgb(255, 255, 255);
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #000000;
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #00ff3c95;
    border-radius: 1px;
}

/* Custom scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #00ff3c8c #000000;
}

/* Custom scrollbar for Internet Explorer and Edge */
::-ms-scrollbar {
    width: 3px;
}

::-ms-scrollbar-track {
    background: #000000;
}

::-ms-scrollbar-thumb {
    background-color: #00ff3c;
    border-radius: 10px;
}


@media (max-width: 600px) {

    .body {
       
        height: auto;
        padding: 2rem;
    }


    .saveLinks {
        width: 100%;
        
    }

    .container {
        /* width: 90%; */
        margin-top: 320px; /* Уменьшите отступ сверху для мобильных устройств */
    }

    form {
        width: 90%; /* Увеличьте ширину формы для мобильных устройств */
        padding: 1rem; /* Уменьшите padding формы для мобильных устройств */
    }

    .linkItem {
        padding: 1rem; /* Уменьшите padding элементов для мобильных устройств */
        width: 100%;
    }

    .linkItem a {
        font-size: 1.2rem; /* Уменьшите размер шрифта для мобильных устройств */
    }

    #linkList {
        padding-top: 100px; /* Уменьшите верхний отступ для мобильных устройств */
            margin-left: 0%;
            width:100%;
            padding-top: 75%; /* Добавьте верхний отступ */
            
        }
    
}
