body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 50%;
}

input[type="url"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #00fc11;
    border-radius: 25px;
    background-color: #000000;
    color: #0dff00;
    margin-top: 1rem;
}

button {
    padding: 10px;
    background-color: #00ff3c;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    width: 80%;
    border-color: #0dff00;
    border-width: 1px;
    border-style: solid;
}

button:hover {
    background-color: #000000;
    transition: all 0.3s ease-in-out;
    color: #2fff00;
    border-color: #0dff00;
    border-width: 1px;
    border-style: solid;
}


@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinkCursor {
    50% { border-color: transparent; }
}

.typewriter-placeholder {
    position: relative;
}

.typewriter-placeholder::after {
    content: attr(data-text);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typewriter 3s steps(30) 1s forwards, blinkCursor 0.75s steps(30) infinite;
}

.hidden {
    display: none;
}

#buttonMenu {
    display: flex;
    justify-content: space-between;
}

#saveButton {}

#shareBtn {
    width: 8%;
    max-height: 8%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
}

#shareBtn.animated {
    animation: solidColorTransition 1s forwards;
    background-size: 200% 200%;
    border-color: #00fc0d;
}

@keyframes solidColorTransition {
    0% {
        background-color: rgb(0, 33, 164);
    }
    25% {
        background-color: #00727a;
    }
    50% {
        background-color: #008145;
    }
    75% {
        background-color: #008f1a;
    }
    100% {
        background-color: #00c123;
    }
}

#shareBtn {
    transition: background-color 0.5s ease, opacity 0.5s ease;
    transition: all 0.3s ease-in-out;
}

#shareBtn.copied {
    background-color: #00e600;
    color: #000000;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    transition: all 0.3s ease-in-out;
    scale: 1.1;
    box-shadow: 0 0 7px 5px #00fc11;
}

#shareBtn.copied::after {
    content: '';
    opacity: 1;
    transition: opacity 0.5s ease;
    transition: all 0.3s ease-in-out;
    scale: 1.1;
}

#shareBtn:hover {
    background-color: #004cfc;
    color: #ffffff;
    border-color: #004cfc;
}

#toggleDirectionBtn {
    width: 5%;
    height: auto;
    background-color: #000000;
}

#toggleDirectionBtn:hover {
    background-color: #ff07ee;
    border-color: #004cfc;
}

#myLinksBtn, #connectWalletBtn {
    background-color: #00ff3c;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    border-color: #004cfc;
    border-width: 1px;
    border-style: solid;
    width: 4.5%;
    background-color: #000000;
    color: #00fc11;
}

#myLinksBtn:hover, #connectWalletBtn:hover {
    background-color: #2c07ff;
    border-color: #fc00fc;
}

#connectWalletBtn {
    visibility: hidden;
    display: none;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.saveLinksTitle {
    font-size: 3rem;
    background-image: linear-gradient(to right, #2600ff, #007bff, #1eff00, #f0b3b3, #ede1e1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: animateColor 4s linear infinite alternate-reverse;
    text-align: center;
    flex-direction: row;
}

.infoInfo {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.tooltip {
    display: none; 
    position: fixed; 
    width: 50%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000f1;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    z-index: 1001;
    overflow: auto; 
    opacity: 0;
    transition: opacity 0.5s ease; 
    box-shadow: 0 0 40px 80px #000000f1;
    text-align: left;
}

.infoInfo:hover .tooltip {
    display: block; 
    opacity: 1;
}

.tooltip p {
    margin: 0;
}

@keyframes animateColor {
    0% {
        color: #ff2b2b;
    }
    25% {
        color: #00000000;
    }
    50% {
        color: #ff00e600;
    }
    75% {
        color: #ff0000;
    }
    100% {
        color: #00000000;
    }
}

.container {
    border-radius: 8px;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-top: 15rem; 
}

#linkList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    gap: 2rem;
    padding-bottom: 100px; /* Additional bottom padding */
}

.linkItem {
    flex: 1 1 calc(25% - 2rem); /* Adjust as needed for grid layout */
    background-color: #00000024;
    padding: 2rem;
    border-color: #0dff0057;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    position: relative;
}

@media (max-width: 1200px) {
    .linkItem {
        flex: 1 1 calc(33.33% - 2rem);
    }
}

@media (max-width: 900px) {
    .linkItem {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media (max-width: 600px) {
    #linkList {
        margin-top: 20%;
        gap: 1rem;
    }
    .linkItem {
        flex: 1 1 calc(100% - 2rem);
        padding: 1rem;
        margin-bottom: 20px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.linkItem:hover {
    box-shadow: 0 0 15px 5px #0dff009e;
    transition: all 0.25s ease-in-out;
    border-color: #0dff00;
    scale: 1.00;
}

.linkItem img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 25px;
}

.linkItem a {
    color: #3cff00;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.linkItem a:hover {
    text-decoration: underline;
}

.linkItem p {
    margin-top: 1.5rem;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border-color: #0dff0078;
    border-width: 1px;
    border-style: solid;
    background-color: #000000;
    color: #0dff0078;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn:hover {
    background-color: #db0000;
    border-color: #ff0000;
    box-shadow: 0 0 7px 2px #ff0000;
    scale: 1.1;
    color: rgb(255, 255, 255);
}

.number-container {
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: min-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    height: 28px;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;  
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-color: #0dff0078;
    border-width: 1px 1px 0 1px; 
    border-style: solid;
    font-size: 1rem;
    color: #0dff0078;
}

.number-container.active {
    background-color: #0000ff;
    border-color: #0000ff;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

/* Styles for the comment button */
.comment-btn {
    position: absolute;
    bottom: 0px;
    left: 28px;
    width: min-content;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    padding-top: 0.15rem;
    padding-bottom: 0.1rem;
    height: 28px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-color: #0dff0078;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    font-size: 1rem;
    color: #0dff0078;
}

.comment-btn.has-comment {
    background-color: #0000ff;
    border-color: #0000ff;
    color: #ffffff;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        background-color: #0000ff;
    }
    50% {
        background-color: #000000;
    }
    100% {
        background-color: #0000ff;
    }
}


#savedPagesContainer {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.savedPage {
    width: 28px;
    min-height: 80px;
    border-color: #0dff0078;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    border-top-right-radius: 10px; 
    border-top-left-radius: 0px;  
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 0;  
    background-color: #00000078;
}

.savedPage:hover {
    background-color: #00ff3c;
    color: #000000;
}

.savedPage.active {
    background-color: #00ff3c; /* Slightly lighter than normal */
    border-color: #00ff3c;
    color: #000;
}


/* Define color classes */
.savedPage.color1 {
    border-color: #FF5733; /* Example color */
}

.savedPage.color2 {
    border-color: #33FF57; /* Example color */
}

.savedPage.color3 {
    border-color: #3357FF; /* Example color */
}

.savedPage.color4 {
    border-color: #915002f0; /* Example color */
}

.savedPage.color5 {
    border-color: #c3ff00; /* Example color */
}

.savedPage.color6 {
    border-color: #7e0218; /* Example color */
}


/* Active savedPage should have same background color as its border */
.savedPage.active {
    background-color: #33FF57;
    border-color: #33FF57;
    color: #000000;
}

.savedPage:hover {
    border-color: #33FF57; 
}

/* Ensure linkItem's border and text color matches active savedPage */
.linkItem.active {
    border-color: inherit;
    color: inherit;
}

.linkItem.active a {
    color: inherit;
}

.linkItem.active p {
    color: inherit;
}




.savedPage .delete-tab-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    font-size: 0.5rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.savedPage:hover .delete-tab-btn {
    display: flex;
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #000000;
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #00ff3c95;
    border-radius: 1px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #00ff3c8c #000000;
}

::-ms-scrollbar {
    width: 3px;
}

::-ms-scrollbar-track {
    background: #000000;
}

::-ms-scrollbar-thumb {
    background-color: #00ff3c;
    border-radius: 10px;
}

/* Styles for the comment box */
.comment-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.comment-textarea {
    flex-grow: 1;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.comment-save-btn {
    padding: 10px;
    background-color: #00ff3c;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s;
    width: 100%;
}

.comment-save-btn:hover {
    background-color: #00a226;
    color: #ffffff;
}

/* Styles for the generated link container */
#generatedLinkContainer.hidden {
    display: none;
}

#generatedLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
}


#generatedLink {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #00fc11;
    border-radius: 25px;
    background-color: #000;
    color: #0dff00;
    border-style: none;
    
}

#copyLinkBtn {
    padding: 5px 10px;
    background-color: #00ff3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    margin-left: 10px;
}

/* Grid and column layouts for linkList */
#linkList.grid-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#linkList.column-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 600px) {
    .body {
        overflow-x: hidden;
    }
    .saveLinks {
        width: 90%;
        padding: 2rem;
    }

    button {
        width: 95%;
    }

    #buttonMenu {
        width: 100%;
        gap: 1rem;
        justify-content:space-around;
    }
    
    #saveButton {
        width: 70%;
    }
    
    #shareBtn {
        width: 20%;
        
    }
        
    #toggleDirectionBtn {
        visibility: hidden;
        display: none;
    }

    #myLinksBtn {
        width: 10%;
    }

    #connectWalletBtn {
        visibility: hidden;
        display: none;
    }
    
    .titleContainer {
        margin-top: 10rem;
    }
    
    .infoInfo {
        visibility: hidden;
    }

    .tooltip {
        visibility: hidden;
    }

    .container {
        margin-top: 0px;
        padding: 2rem;
        overflow-x: hidden;
    }
    
    form {
        width: 90%;
        padding: 1rem;
    }
    .linkItem {
        padding: 1rem;
        width: 90%;
    }

    .linkItem:hover {
        box-shadow: 0 0 15px 5px #0dff009e;
        transition: all 0.25s ease-in-out;
        border-color: #0dff00;
        scale: none;
    }

    .linkItem a {
        font-size: 1.2rem;
    }
    
    #linkList {
        margin-left: 0%;
        width: 100%;
    }

    #generatedLinkContainer {
        flex-direction: row;
        align-items: flex-start;
        display:flex;
        width: 90%;
        max-width: max-content;
       
    }
    
    #copyLinkBtn {
        width: 3rem;
        height: 100%;
        border-radius: 25px;
        background-color: #000;
        
    }
}
