body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: #b7202000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container {
    width: 300px;
    text-align: center;
    border-color: #13770f;
    border-style: solid;
    border-width: 1px;
    padding: 2rem;
    padding-right: 3rem;
    padding-top: 4rem;
    border-radius: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #00000093;
}

#moonPhase {
    font-size: 2rem;
    margin-left: -.25rem;
    margin-right: -.25rem;
}

#title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-family: "Righteous", sans-serif;
    display: flex;
    justify-content: center;
}

#title span {
    display: inline-block;
    animation: wave 3s infinite;
}

#title span:nth-child(1) {
    animation-delay: 0s;
}
#title span:nth-child(2) {
    animation-delay: 0.1s;
}
#title span:nth-child(3) {
    animation-delay: 0.2s;
}
#title span:nth-child(4) {
    animation-delay: 0.3s;
}
#title span:nth-child(5) {
    animation-delay: 0.4s;
}
#title span:nth-child(6) {
    animation-delay: 0.5s;
}
#title span:nth-child(7) {
    animation-delay: 0.6s;
}
#title span:nth-child(8) {
    animation-delay: 0.7s;
}
#title span:nth-child(9) {
    animation-delay: 0.8s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

#nicknameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#nicknameInput {
    width: 30%;
    padding-left: 10px;
    border: 1px solid #ffffff88;
    background-color: #000000;
    height: 1.5rem;
    border-radius: 7px;
    color: #00ff3c;
    font-size: 0.7rem;
}

#usersOnline {
    width: 20%;
    text-align: right;
    font-size: 12px;
}

#status {
    font-size: 12px;
}

#connectionStatus {
    display: flex;
    align-items: center;
    justify-content: center;
}

#statusIndicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.connected {
    background-color: green;
}

.disconnected {
    background-color: red;
}


#chat {
    width: 100%;
    height: 200px;
    border: 1px solid #585858;
    border-radius: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000000;
    color: #ffffff;
    text-align: left;
    line-height: 1.5rem;
}

#chat::-webkit-scrollbar {
    width: 12px;
}

#chat::-webkit-scrollbar-track {
    background: #333;
    border-radius: 7px;
}

#chat::-webkit-scrollbar-thumb {
    background-color: #4CAF50;
    border-radius: 7px;
    border: 3px solid #333;
}

#chat {
    scrollbar-width: thin;
    scrollbar-color: #4CAF50 #333;
}

#messageInput {
    width: 100%;
    height: auto;
    min-height: 2rem;
    max-height: 2rem;
    border: 1px solid #00fc11;
    border-radius: 10px;
    background-color: #000000;
    color: #0dff00;
    padding: 10px;
    resize: none;
    margin-bottom: 10px;
}

#sendButton {
    width: 105%;
    padding: 10px;
    background-color: #00ff3c;
    color: #000000;
    border: 1px solid #0dff00;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 7px;
}

#sendButton:hover {
    background-color: #000000;
    color: #2fff00;
    border: 1px solid #0dff00;
}

#linkContainer {
    margin-top: 2rem;
    display: flex;
    height: 1rem;
    font-size: 0.8rem;
}

#chatLink {
    word-break: break-all;
    display: inline-block;
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#copyLinkButton {
    margin-left: 10px;
    background-color: #00ff3c00;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: -0.75rem;
}

#copyLinkButton:hover {
    background-color: #000000;
    color: #2fff00;
    /* border: 1px solid #0dff00; */
}
